      <!-- 상단 소개글, 히어로 이미지 -->
      <div class="top">
        <h1 class="top-heading">무서운 이야기</h1>
        <p class="top-body">으스스한 공포 이야기 모음</p>
      </div>

      <img src="/img/top-hero.jpg" alt="노트에 기록하는 모습" class="hero-image" width="840" height="400">

      <div class="header-nav">
        <ul>
            <li><a href="/category/무서운 이야기">무서운 이야기</a></li>
            <li><a href="/category/국내 3대 폐가">국내 3대 폐가</a></li>
        </ul>
    </div>

      <!-- 최근 게시물 -->
      <section class="articles">
        <h2 class="articles-heading"><%= locals.title %></h2>
        <ul class="article-ul">
            <% if (data.length > 0) { %>
                <% data.forEach(post => { %>
                    <li>
                        <a href="/post/<%= post._id %>">
                            <span><%= post.title %></span>
                            <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
                        </a>
                    </li>
                <% }) %>
            <% } else { %>
                <li>해당 카테고리에 게시물이 없습니다.</li>
            <% } %>
        </ul>
    </section>
      