<h1><%= data.title %></h1>

<% if (data.image) { %>
    <div class="post-image">
        <img src="<%= data.image %>" alt="Post Image" style="max-width: 100%; height: auto; margin-bottom: 20px;">
    </div>
<% } %>

<article class="article">
    <%= data.body %>
    
</article>
