@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
  --black: #0b0b0b;
  --gray: #333; 
  --gray-light: #444; 
  --red: #8b0000; 
  --font-size-base: 1rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --border-radius: 10px;
}

body {
  font-family: 'Creepster', cursive; 
  color: var(--gray-light);
  font-size: var(--font-size-base);
  background-color: var(--black);
  margin: 0;
  transition: background-color 0.5s ease;
}

a { color: var(--red); }
a:hover { color: #ff4d4d; } 
h1, h2, h3 {
  color: var(--gray-light);
  text-shadow: 2px 2px 4px #000000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}


.btn {
  background-color: var(--red);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #660000;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}


@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

.flicker {
  animation: flicker 1s infinite;
}

img {
  width: 100%;
  height: auto;
}


.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.main {
  padding: 20px 0;
}


.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25)) grayscale(100%);
  overflow: hidden;
  border-radius: var(--border-radius);
  transition: filter 0.5s ease;
}

.hero-image:hover {
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.75)) grayscale(0%);
}


.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header-logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header-logo:hover {
  text-decoration: underline;
}

.header-nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header-logo, .header-nav, .header-button {
  width: 100%;
}

.header-button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header-button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.header-button button:hover {
  border: 2px solid var(--black);
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header-nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header-nav ul a.active {
  color: rgb(175, 175, 175);
}

.header-nav ul a:hover {
  text-decoration: underline;
}

.top {
  padding: 10px 0;
  text-align: center;
}

.top-heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.top-body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


.article {
  color: #d3d3d3; 
}

.articles-heading {
  margin-top: 4rem;
  font-weight: 400;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list-date {
  font-size: 1rem;
  color: #d3d3d3;
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list-date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article {
  white-space: pre-wrap;
}

.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}


.footer {
  margin: 4rem;
  text-align: center;
}


.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

